.aui-select2-container.aui-has-avatar .select2-search-choice {
  min-height: 16px;
}

.aui.autowatch-rules {
  table-layout: fixed;
  padding-bottom: 50px;
}

.autowatch-rules {
  .aui-restfultable-editable {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .aui-restfultable-readonly .aui-iconfont-edit {
    top: 7px;
  }

  // action buttons
  th:first-child + th + th {
    width: 160px;
  }

  // spinner
  th:first-child + th + th + th,
  .aui-restfultable-status {
    width: 20px;
  }

  .field-jql,
  th:first-child,
  .field-users,
  th:first-child + th {
    min-width: 200px;
    width: 50%;
  }

  .text.jql-filter,
  .text.user-picker {
    display: block;
    max-width: none;
    width: 100%;
  }

  .text.jql-filter {
    min-height: 32px;
    padding-top: 5px;
    padding-left: 28px;
    resize: vertical;
  }

  .field-jql {
    .atlassian-autocomplete {
      position: relative;
    }

    .jql-filter {
      overflow: auto; // IE fix
    }

    .jql-indicator {
      left: 7px;
      position: absolute;
      top: 8px;
    }

    .jql-indicator.jqlgood:before {
      content: "\e013";
      color: #14892c;
    }

    .jql-indicator.jqlerror:before {
      content: "\e011";
      color: #d04437;
    }
  }

  .invalid-rule:hover td,
  .invalid-rule td,
  .invalid-rule:hover,
  .invalid-rule {
    background: #FFF7EA;
  }

  .aui-iconfont-approve {
    color: #14892c;
  }

  .aui-iconfont-error {
    color: #d04437;
  }
}





.atlassian-autocomplete {
  position: relative;

  .suggestions {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    max-width: none;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 3px 6px rgba(111, 111, 111, 0.2);
    box-shadow: 0 3px 6px rgba(111, 111, 111, 0.2);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 12000;

    ul {
      list-style: none;
      margin: 0;
      padding: 2px 0;
    }
    li {
      display: block;
      margin: 0;
      padding: 3px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      color: #333333;
      text-decoration: none;
    }
    li > *:hover,
    li > *:focus {
      text-decoration: none;
    }
    li b {
      font-style: normal;
      font-weight: bold;
    }
    li > .yad {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
      padding: 0;
    }
    .yui-ac-ft {
      display: block;
      margin: 0;
      padding: 3px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-style: italic;
    }
    .active {
      background-color: #3b73af;
      color: #ffffff;
      text-decoration: none;
    }
    .syntax-help-container {
      list-style: none;
      margin: 0;
      padding: 2px 0;
      border-top: 1px solid #cccccc;
    }
    .syntax-help {
      display: block;
      margin: 0;
      padding: 3px 10px;
    }
  }
}
